.banner-contrataciones {
	background-color: #1C8EF9;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.banner-contrataciones .caption {
	text-align: center;
}
.banner-contrataciones .caption h1 {
	text-transform:none;
	letter-spacing: 1.5px;
	margin-top: 10px;
	margin-bottom: 20px;
	font-weight: 700;
	color: #fff;
}
.banner-contrataciones #search-section fieldset {
	display: inline-block;
}
.banner-contrataciones #search-section {
	position: relative;
}
.banner-contrataciones #search-section input.searchText {
	float: left;
	width: 700px;
	min-width: 280px;
	height: 49px;
	background-color: transparent;
	border: 1px solid #fff;
	padding: 0px 15px;
	color: #fff;
	outline: none;
	font-size: 15px;
	letter-spacing: 0.5px;
	margin-bottom: 30px;
}
.banner-contrataciones #search-section input.main-button {
	position: absolute;
	top: 0;
	right: 0;
	outline: none;
	cursor: pointer;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	padding: 0px 40px;
	border: none;
	margin-left: 10px;
	background-color: #011113;
	color: #fff;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 1px;
	transition: all 0.5s;
	margin-bottom: 30px;
}
.banner-contrataciones #search-section button:hover {
	background-color: #00a4b9;
}
#search-section ul {
	padding: 0;
	margin: 0;
	text-align: center;
	display: inline-block;
}
#search-section ul li {
	display: inline-block;
	margin-right: 30px;
}
#search-section ul li:last-child {
	margin-right: 0px;
}
#search-section input[type=checkbox] {
	width: 18px;
	min-width: 18px;
	height: 18px;
	background-color: transparent;
	border: 1px solid #fff;
	outline: none;
	cursor: pointer;
}
#search-section span {
	color: #fff;
	font-size: 15px;
	font-weight: 700;
	margin-left: 8px;
}
#search-section em {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #fff;
}
#search-section ::-webkit-input-placeholder { /* Edge */
  color: #fff;
}

#search-section :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

#search-section ::placeholder {
  color: #fff;
}

.contratacionesBox{
    background-color: #91a7b1;
    margin-top: 50px;
    padding: 50px;
    
}
.contratacionesBox h1{
    font-size: 30px;
    font-weight: 600;
    margin: 10px;
    color: black;

}
.contratacionesBox p{
    font-size: 20px;
    font-weight: 400;
    margin: 10px;
    color: black;
}
